<? INC Header.tmpl ?>

<div class="textsection">

	<p>Welcome to the GeekBouncer web administration panel. <?IF LoggedIn ?> <? ELSE ?> Currently you are not logged in. Please use the login bar above with your bouncer username and password to login. <? ENDIF ?></p>

	<p>Here you can remotely manage your bouncer, including channel and flood protection control. Please note using bugs to change your IRC server or ident is against our Terms of Service and will be enforced upon.</p>

	<p>For support, please login to your bouncer via IRC and type /znc mode support - This will bring up the support chat system.
	If you cannot login to your bouncer (Invalid Password), please visit us on IRC, Our channel #geekbouncer is on irc.obsidianirc.net which can be accessed by port 6667.</p>

	<p>Thank you for using GeekBouncer. You could consider donating to help us pay for our service using the link located in the sidebar. Have a nice day!</p>


	

	<?IF LoggedIn ?>
		<?IF !GlobalModLoop ?>
			<?IF !UserModLoop ?>
				<p>No Web-enabled modules have been loaded. Load modules from IRC ("<code>/msg *status help</code>" and
					"<code>/msg *status loadmod &lt;module&gt;</code>"). Once you have loaded some Web-enabled modules, the menu will expand.</p>
			<? ENDIF ?>
		<? ENDIF ?>
	<? ENDIF ?>

</div>

<? INC Footer.tmpl ?>
