<div id="menu">
	<ul class="nav">
		<? IF LoggedIn ?>
		<li class="topitem"><a href="/mods/global/webadmin/edituser">Your Settings</a></li>
		<li class="topitem"><a href="/logout">Logout</a></li>
		<? ENDIF ?>
		<? IF IsAdmin ?>
		<li class="topitem"><a href="/mods/global/webadmin/adduser">Add User</a></li>
		<li class="topitem"><a href="/mods/global/webadmin/listusers">List Users</a></li>
		<li class="topitem"><a href="/mods/global/lastseen">Last Seen</a></li>
		<li class="topitem"><a href="/mods/global/webadmin/settings">Global Settings</a></li>
		<li class="topitem"><a href="/mods/global/webadmin/traffic">Traffic Info</a></li>
		<? ENDIF ?>
		
		

		</ul>
<iframe src="http://geekbouncer.co.uk/remote/status.html" name="frame1" scrolling="no" frameborder="no" align="center" height = "600px" width = "250px"></iframe>
</div>
